.wbdv-close {
    color: black;
}

.wbdv-sticky-button {
    color: red;
}

.wbdv-light-grey-border {
    border: 1px solid lightgray;
    padding: 10px;
}

.btn-save {
    margin-bottom: 30px;
    margin-top: 10px;
}

.wbdv-module-list {
    background-color: black;
    margin-bottom: 40px;
    padding-top: 30px;
}

.wbdv-module-item-style {

    background-color: gray !important;
    color: white;
    margin-bottom: 10px;
    margin-left: -35px;
}


.wbdv-module-item-add-btn {
    color: white;
}

.wbdv-lesson-add-btn {
    color: white;
    margin-top: 8px
}

.wbdv-course-title {
    background-color: gray;
    color: white;
}

.tabs-border {
    border-bottom: 0;
    border-color: gray !important;
}

.wbdv-topic-pill {
    color: white;
    background-color: gray;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 16px;
}


.btn-up {
    margin-left: 160px;
    margin-right: 10px;
}

.btn-down {
    margin-right: 10px;
}

.pre {
    display: inline;
    font-size: larger;
    color: black;
}

.border-set {
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.nav-link {
    display: contents;
    color: black;
}

.btn-trash {
    margin-left: 10px;
}

.card-pos {
    position: inherit !important;
}